

@font-face {
  font-family: 'Dosis';
  src: url('/src/assets/fonts/DMSans-VariableFont_opsz\,wght.ttf') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-size: larger;
}

@font-face {
  font-family: 'Dosis';
  src: url('/src/assets/fonts/DMSans-VariableFont_opsz\,wght.ttf') format('woff2');
  font-weight: 900;
  font-style: normal;
}



*{
 font-family: 'Dosis', sans-serif;
  box-sizing: border-box;
}

@import "tailwindcss";